<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}base{% endblock  %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <section class='hero mb-4 is-small is-success'>
    <a href="{% url 'twitter:dashboard' %}" class="hero-body">
      <h2 class='title is-1'>WongWong</h2>
    <p class="subtitle is-4">your best social network</p>
    </a>
    
  </section>
  <div class="container">
    <div class="columns">
      {% block content %}{% endblock  %}
    </div>
  </div>
</body>
</html>